*,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  /* flex-wrap: 10vw; */
}
section.grid {
  display: grid;
  width: 900px;
  height: 900px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 15px;
}
.test {
  position: fixed;
  width: 1200px;
  height: 600px;
}
.farmLand {
  justify-self: stretch;
  align-self: stretch;
  position: relative;
  padding: 15px;
  background-color: rgb(81, 218, 51);
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}
.farmLand#farmLand1 {
  grid-column: span 3;
  grid-row: span 3;
}
.lake {
  justify-self: stretch;
  align-self: stretch;
  background-color: blue;
}
.lake[id="1"] {
  grid-column: 3/4;
  grid-row: span 2;
  margin-right: 60px;
  border-radius: 25px;
}
.animal {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: 100;
  transition: 0.5s linear;
  transform-origin: center;
  z-index: 2;
}
.waterReservoir {
  background-color: #808080;
  border-radius: 25px;
}
.waterReservoir[id="1"] {
  grid-column: 3/4;
  grid-row: 3/4;
  margin-right: 60px;
}
.animalBodyContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.animal.cow {
  width: 34px;
  height: 100px;
  overflow: hidden;
  /* background-image: url(images/happy-cow-cartoon-character_1308-101872-removebg-preview.png);
  background-size: contain; */
}

.animal.cat {
  background-image: url(images/1657743762_1-flomaster-club-p-kot-idet-risunok-krasivo-1-removebg-preview.png);
  background-size: contain;
  background-color: orange;
}
.pipe {
  min-width: 20px;
  min-height: 20px;
  background-color: #808080;
  position: absolute;
}

[class~="animalLimb"] {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
[class~="animalLimb"][class~="animalHead"] {
  width: 24px;
  height: 14px;
}
[class~="animalLimb"][class~="animalBody"] {
  width: 30px;
  height: 46px;
}
[class~="animalLimb"][class~="animalLeg"] {
  width: 10px;
  height: 30px;
  transform: rotateX(45deg);
}

.animalLimb.cow.animalHead {
  background-image: url(images/cow/cow-head-top-1.png);
  width: 90%;
  height: 26px;
  left: 5%;
}
.animalLimb.cow.animalBody {
  background-image: url(images/cow/cow-body-1.png);
  z-index: 1;
  width: 100%;
  top: 27px;
  height: 80px;
}
.animalLimb.cow.animalLeg1 {
  background-image: url(images/cow/cow-leg1.png);
  top: 27px;
  left: 0px;
  height: 30px;
  width: 10px;
  transform-origin: center top;
  transform: rotateX(90deg);
}
.animalLimb.cow.animalLeg2 {
  background-image: url(images/cow/cow-leg-2.png);
  top: 27px;
  right: 0px;
  height: 30px;
  width: 10px;
  transform-origin: center top;
  transform: rotateX(90deg);
}
.animalLimb.cow.animalLeg3 {
  background-image: url(images/cow/cow-leg-3.png);
  bottom: -30px;
  right: 0px;
  height: 30px;
  width: 10px;
  transform-origin: center top;
  transform: rotateX(90deg);
}
.animalLimb.cow.animalLeg4 {
  background-image: url(images/cow/cow-leg-4.png);
  bottom: -30px;
  left: 0px;
  height: 30px;
  width: 10px;
  transform-origin: center top;
  transform: rotateX(90deg);
}

.shed {
  position: relative;
  height: max-content;
  display: grid;
  width: 340px;
  background-color: rgb(234, 214, 189);
  justify-content: space-between;
  grid-template-columns: 120px 120px;
  grid-template-rows: 5fr;
  grid-auto-flow: 1fr/60px;
  row-gap: 10px;
}
.stall {
  width: 120px;
  border: rgb(109, 52, 13) 3px solid;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stall.leftside {
  grid-column: 0/1;
}
.stall.rightside {
  grid-column: 2/3;
}

.animalMenu {
  position: fixed;
  left: 0;
  height: 0;
  width: 150px;
  height: 100px;
  display: none;
  flex-direction: column;
  z-index: 100000;
  background-color: #f0f8ff;
  border-radius: 5px;
  padding: 10px;
}
.animalMenu .stats{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
.healthBar{
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #e53737;
}
.satietyBar{
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #ffa200;
}