*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.4s ease all;
}

body {
  background-color: rgb(241, 241, 241);
}

.container {
  padding: 15px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(219, 219, 219);
}

.bookpic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  flex: 30% 0 0;
  min-height: 350px;
}

.booktext {
  flex: auto 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10% 0 0 0;
  color: rgb(19, 19, 70);
}
.booktext h2 {
  font-size: 40px;
}
.booktext h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(137, 139, 8);
}
.booktext button {
  margin-top: 15px;
  border: none;
  background-color: rgb(111, 109, 226);
  outline: none;
  padding: 15px;
  border-radius: 20px;
  width: 60%;
  overflow: hidden;
}
.booktext button a {
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  font-weight: 700;
}
.booktext button:hover {
  background-color: rgb(109, 226, 144);
}

.es {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.es div {
  flex: 25% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 25px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.es div:nth-child(1) {
  background-color: rgb(188, 221, 185);
}
.es div:nth-child(2) {
  background-color: rgb(235, 173, 171);
}
.es div:nth-child(3) {
  background-color: rgb(189, 196, 238);
}
.es div:nth-child(4) {
  background-color: rgb(243, 242, 177);
}
.es::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  flex: 100% 0 0;
  height: 10px;
  background-color: rgb(97, 120, 143);
  z-index: 100;
}

.about {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  text-indent: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
  color: rgb(19, 19, 70);
}
.about h2 {
  text-align: center;
  font-size: 26px;
  color: rgb(137, 139, 8);
  margin-bottom: 30px;
}

.divider {
  flex: 100% 0 0;
  height: 2px;
  margin-top: 100px;
  background-color: rgb(19, 19, 70);
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
  .bookpic {
    flex: 100% 0 0;
    min-height: 500px;
  }
  .booktext {
    flex: 100% 0 0;
  }
  .booktext h2 {
    font-size: 66px;
  }
  .booktext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  .booktext button {
    width: 70%;
    margin-top: 30px;
    padding: 20px 15px;
    border-radius: 30px;
  }
  .es div {
    flex: 50% 0 0;
    padding: 15px;
  }
  .divider {
    display: none;
  }
  .about {
    margin-top: 150px;
  }
}
@media screen and (max-width: 540px) {
  .booktext h2 {
    font-size: 46px;
  }
  .booktext h3 {
    font-size: 30px;
  }
  .booktext button {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .booktext h2 {
    font-size: 36px;
  }
  .booktext h3 {
    font-size: 25px;
  }
  .booktext button {
    width: 100%;
  }
}/*# sourceMappingURL=previewpage.css.map */