*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

body {
  background-color: #f1f1f1;
}

.container {
  padding: 15px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  background-color: #dbdbdb;
}

.bookpic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-box-flex: 30%;
      -ms-flex: 30% 0 0px;
          flex: 30% 0 0;
  min-height: 350px;
}

.booktext {
  -webkit-box-flex: 1;
      -ms-flex: auto 1 1;
          flex: auto 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 0 0 0;
  color: #131346;
}
.booktext h2 {
  font-size: 40px;
}
.booktext h3 {
  font-size: 20px;
  font-weight: 600;
  color: #898b08;
}
.booktext button {
  margin-top: 15px;
  border: none;
  background-color: #6f6de2;
  outline: none;
  padding: 15px;
  border-radius: 20px;
  width: 60%;
  overflow: hidden;
}
.booktext button a {
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  font-weight: 700;
}
.booktext button:hover {
  background-color: #6de290;
}

.es {
  width: 100%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.es div {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 25px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.es div:nth-child(1) {
  background-color: #bcddb9;
}
.es div:nth-child(2) {
  background-color: #ebadab;
}
.es div:nth-child(3) {
  background-color: #bdc4ee;
}
.es div:nth-child(4) {
  background-color: #f3f2b1;
}
.es::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
  height: 10px;
  background-color: #61788f;
  z-index: 100;
}

.about {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  text-indent: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
  color: #131346;
}
.about h2 {
  text-align: center;
  font-size: 26px;
  color: #898b08;
  margin-bottom: 30px;
}

.divider {
  -webkit-box-flex: 100%;
      -ms-flex: 100% 0 0px;
          flex: 100% 0 0;
  height: 2px;
  margin-top: 100px;
  background-color: #131346;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .bookpic {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
    min-height: 500px;
  }

  .booktext {
    -webkit-box-flex: 100%;
        -ms-flex: 100% 0 0px;
            flex: 100% 0 0;
  }
  .booktext h2 {
    font-size: 66px;
  }
  .booktext h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .booktext button {
    width: 70%;
    margin-top: 30px;
    padding: 20px 15px;
    border-radius: 30px;
  }

  .es div {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 0 0px;
            flex: 50% 0 0;
    padding: 15px;
  }

  .divider {
    display: none;
  }

  .about {
    margin-top: 150px;
  }
}
@media screen and (max-width: 540px) {
  .booktext h2 {
    font-size: 46px;
  }
  .booktext h3 {
    font-size: 30px;
  }
  .booktext button {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .booktext h2 {
    font-size: 36px;
  }
  .booktext h3 {
    font-size: 25px;
  }
  .booktext button {
    width: 100%;
  }
}