*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transition: ease all;
  transition: ease all;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: inherit;
}

body {
  background-color: #f0f8ff;
}
body.light {
  background-color: #f0f8ff;
}
body.dark {
  background-color: #1e1f20;
}
body.red {
  background-color: #f16767;
}
body.blue {
  background-color: #46a8fd;
}
body.rightAnswerScreen {
  background-color: #68eb68;
}
body.wrongAnswerScreen {
  background-color: #eb6868;
}

button.menuShowBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  background-color: #7ee4ac;
  z-index: 10001;
  border: none;
  outline: none;
}
button.menuShowBtn.light {
  background-color: #7ee4ac;
}
button.menuShowBtn.dark {
  background-color: #d3d3d3;
}
button.menuShowBtn.red {
  background-color: #f0dddd;
}
button.menuShowBtn.blue {
  background-color: #fffc5d;
}
button.menuShowBtn.active {
  background-color: #ff7e7e;
}

button.resetButton {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #ff7e7e;
}

.box {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: 15px;
  border-radius: 50px;
  color: #f0f8ff;
  background: linear-gradient(45deg, #fbfffe, #f0f8ff, #fbfffe);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 0.35fr;
  grid-template-rows: 1fr 0.35fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.box > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.box > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.box > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.box > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.box > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.box.light {
  background: linear-gradient(45deg, #fbfffe, #f0f8ff, #fbfffe);
  color: #f0f8ff;
}
.box.dark {
  background: linear-gradient(45deg, #0b0d0f, #1e1f20, #0b0d0f);
  color: #1e1f20;
}
.box.red {
  background: linear-gradient(45deg, #ff8585, #f16767, #ff8585);
  color: #f16767;
}
.box.blue {
  background: linear-gradient(45deg, #83c5ff, #46a8fd, #83c5ff);
  color: #46a8fd;
}
.box span#quest {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  font-size: calc(120px + 120 * (100vw / 2000));
  font-weight: 500;
  color: #7ee4ac;
}
.box span#quest.light {
  color: #7ee4ac;
}
.box span#quest.dark {
  color: #d3d3d3;
}
.box span#quest.red {
  color: #f0dddd;
}
.box span#quest.blue {
  color: #fffc5d;
}
.box span#count {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  font-size: 60px;
  font-weight: 700;
  color: #7ee4ac;
}
.box span#count.light {
  color: #7ee4ac;
}
.box span#count.dark {
  color: #d3d3d3;
}
.box span#count.red {
  color: #f0dddd;
}
.box span#count.blue {
  color: #fffc5d;
}
.box button#btn {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin: 0 5px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background: none;
  border: none;
  outline: none;
  font-size: 66px;
  text-overflow: ellipsis;
  border-radius: 15px 15px 20px 20px;
  color: inherit;
  background-color: #7ee4ac;
}
.box button#btn.light {
  background-color: #7ee4ac;
}
.box button#btn.dark {
  background-color: #d3d3d3;
}
.box button#btn.red {
  background-color: #f0dddd;
}
.box button#btn.blue {
  background-color: #fffc5d;
}

.endgame-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #f0f8ff;
  color: #7ee4ac;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 80px;
  font-weight: 500;
}
.endgame-screen.light {
  background-color: #f0f8ff;
  color: #7ee4ac;
}
.endgame-screen.dark {
  background-color: #1e1f20;
  color: #d3d3d3;
}
.endgame-screen.red {
  background-color: #f16767;
  color: #f0dddd;
}
.endgame-screen.blue {
  background-color: #46a8fd;
  color: #fffc5d;
}
.endgame-screen.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  .box {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .box.light {
    background-color: transparent;
  }
  .box.dark {
    background-color: transparent;
  }
  .box.red {
    background-color: transparent;
  }
  .box.blue {
    background-color: transparent;
  }
  .box button#btn {
    font-size: 46px;
  }
  .box span#quest {
    font-size: calc(100px + 100 * (100vw / 1050));
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }
  .box span#count {
    position: absolute;
    font-size: 5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .gridSetting#theme label {
    width: 50%;
  }

  button.resetButton {
    right: 100%;
    -webkit-transform: translateX(110px);
            transform: translateX(110px);
  }
}
@media screen and (max-width: 850px) {
  .box span#quest {
    font-size: calc(70px + 90 * (100vw / 850));
  }
}
@media screen and (max-width: 750px) {
  .box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 40% 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-rows: 40% repeat(4, 1fr);
    row-gap: 15px;
  }
  .box > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .box > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .box > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .box > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .box > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .box button#btn {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 450px) {
  .gridSetting#theme label {
    width: 100%;
  }
}
.menu {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f0f8ff;
  display: none;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100, 400);
  overflow: auto;
  z-index: 10000;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 10%;
}
.menu.light {
  background-color: #f0f8ff;
}
.menu.dark {
  background-color: #1e1f20;
}
.menu.red {
  background-color: #f16767;
}
.menu.blue {
  background-color: #46a8fd;
}
.menu.active {
  display: -ms-grid;
  display: grid;
}
.menu a {
  font-size: 46px;
  color: #f0f8ff;
  text-transform: capitalize;
}
.menu a.light {
  background-color: #1e1f20;
}
.menu a.dark {
  background-color: #f0f8ff;
}
.menu a.red {
  background-color: #46a8fd;
}
.menu a.blue {
  background-color: #f16767;
}

.gridSettingName {
  padding: 15px;
  text-transform: capitalize;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7ee4ac;
  font-size: 36px;
}
.gridSettingName.light {
  color: #7ee4ac;
  border-color: #7ee4ac;
}
.gridSettingName.dark {
  color: #d3d3d3;
  border-color: #d3d3d3;
}
.gridSettingName.red {
  color: #f0dddd;
  border-color: #f0dddd;
}
.gridSettingName.blue {
  color: #fffc5d;
  border-color: #fffc5d;
}

.gridSetting {
  padding: 15px;
}

.gridSetting#theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gridSetting#theme input[type=radio] {
  display: none;
}
.gridSetting#theme label {
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  min-width: 18vw;
  font-size: 50px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.gridSetting#theme label[for=light] {
  color: #b4ffb4;
}
.gridSetting#theme label[for=dark] {
  color: #37383b;
}
.gridSetting#theme label[for=red] {
  color: #ff9d9d;
}
.gridSetting#theme label[for=blue] {
  color: #648597;
}

.custom-range {
  width: 100%;
  height: 70px;
  background-color: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-range .innerElement {
  width: 50%;
  height: 100%;
  background-color: #d3d3d3;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

.scene {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: transparent;
  z-index: -1;
}
.scene div {
  position: absolute;
  left: 0;
  top: 0;
  color: #7ee4ac;
}