*,body,::before,::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.75;
}
body{
    width: 100%;
    height: 100%;
    color: aliceblue;
}
strong{
font-weight: 700;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    padding: 15px 16.25%;
}
.container:first-child{
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.text-secondary{
    color: #888888;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 40px;
    width: 40px;
    object-fit: cover;
    position: relative;
    left: 20px;
}
.nav-links{
    flex: 0 1 50%;
    height: 24px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    justify-self: center;

}
.nav-links a{
    font-size: calc(13px + 7 * (100vw / 1920));
    line-height: 150%;
    color: white;
    transition: 0.4s;
    text-decoration: none;
}
.nav-links a:hover{
    font-size: 20px;
}

.nav-btn{
    position: relative;
    right: 10px;
    width: 12%;
    margin-left: auto;
}
.nav-btn a{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border: none;
    padding: 10px 15px;
    color:white;
    font-size: 16px;
    line-height: 150%;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;

}
.nav-btn button:focus{

}


.start{
    width: 100%;
    flex: 1 0 110vh;
    background-image: url(/images/main-screen__bgc.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}
.start-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
}
.body-title{
    color:white;
    width: 100%;
}
.body-title h1{
    font-size: calc(30px + 40 * (100vw / 1920));
    line-height: 1.75;
}
.start-timer{
   width: 100%;
   display: flex;
   align-items: center;
   transition: 0.5s;
}
.start-timer-card{
    width: 15%;
    height: 160px;
    text-align: center;
    text-rendering: optimizeSpeed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.5s;
    background: rgb(22, 22, 22, 0.6);
    margin-right: 2.5%;
}
.start-timer-card:last-child{
    margin-right: 0;
}
.start-timer-card h3{
    color: white;
    font-size: calc(60px + 3 * (100vw / 1920));   
}
.start-timer-card span{
    color: rgb(165, 165, 165);
    font-size: calc(30px + 2 * (100vw / 1920));   
}

.start-footer{
    padding: 15px;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    background-color: #121212;
    height: 90px;
    position: relative;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
 .start-footer > a{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}
.start-footer-text{
    margin-left: 10%;
    display: inline-flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.start-footer-text > span{
    display: inline-block;
}

.start-footer-progress{
    padding-right: 25px;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 80%;
    flex: 1 1 auto;
}
.start-footer-progress > span{
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.start-footer-progress > span:first-child{justify-content: stretch;}
.start-footer-progress > span:nth-child(2){
    position: relative;
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
}
.start-footer-progress > span:nth-child(2)::after{
    content: '';
    position: relative;
    width: 60%;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.start-footer-progress > span:first-child > strong{
    margin-left: 10%;
}
.start-timer-card:hover{
    background: rgba(255, 255, 255, 0.705);
}
.start-timer-card:hover > h3 {
    color:#121212;
}

.otherpages{
width: 100%;
display: flex;
flex-direction: column;
background-image: url(/images/bgc.png);
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
overflow: hidden;
}
.page1{
    width: 100%;
    margin-top: 5vh;
    background: transparent;
    display: flex;
}
.page1 > .container{
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    padding: 15px 10%;
}
.page1-img{
    margin: auto 0;
    flex: 0 0 500px;
    height: 500px;
    background-image: url(/images/IMG_20210508_225738_080.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    margin-right: 100px;
}
.page1-text{
    font-size: 20px;
    line-height: 1.75;
    font-weight: normal;
    color: #fafafa;
    letter-spacing: 1.3px;
}


.rectangles{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.rectangles > .container{
    flex-direction: column;
}
.header2{
    display: flex;
    align-items: center;
}
.header2img{
    object-fit: cover;
    padding: 5px;
    margin-right: 15px;
}
.header2img img{
    width: 100%;
}

.header2 + span{
    width: 30%;
}

.rectangle-self{
width: 100%;
/* min-height: 400px; */
flex: 1 0 auto;
display: flex;
align-items: center;
}

.rec_row{
    display: inline-flex;
    flex: 0 0 50%;
    height: 100%;

}

.rectangle-item{
    width: 50%;
    min-height: 400px;
    /* overflow-x:hidden; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 0;
}
.rec-title{
    font-size: 26px;
    flex: 0 0 auto;
}
.rec-obj{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 0 0 150px;
    object-fit: cover;
    object-position: center;
    border: none;
}
.rec-obj:nth-child(0){
    flex: 0 0 150px;
}
.rec-obj:nth-child(1){
    flex: 0 0 100px;
}

.rec-obj:nth-child(2){
    flex: 0 0 75px;
}

.rec-obj:nth-child(3){
    flex: 0 0 50px;
}

.rec-obj img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}



.rec-text{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    flex: 1 0 auto;
}



.get_job{
    margin-top: 10vh;
    text-align: center;
}

.get_job > .container{
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    min-height: 50vh;
}

.job_mainHeading{
    width: 100%;
    min-height: 30px;
}
.job_mainHeading h2{
    font-size: 36px;
    letter-spacing: 1.5px;
    line-height: 1.6;

}

.job_item{
    flex: 0 0 30%;
    padding: 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job_img{
    width: 100%;
    flex: 0 0 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.job_img:nth-child(0){
    background-image: url(/images/Ellipse2-1.png);
}
.job_img:nth-child(1){
    background-image: url(/images/Ellipse2-1.png);
}
.job_img:nth-child(2){
    background-image: url(/images/Ellipse2-1.png);
}

.job_heading{
    width: 100%;

}
.job_heading h3{
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.job_text{
    width: 100%;
    margin-top: 30px;
    letter-spacing: 1.25px;
    font-size: 18px;
    line-height: 1.75;
    font-weight: normal;
}




@media (max-width:1501px){
    .container{
        padding: 15px 14.5%;
    }
    .start-footer-text{
        display: none;
    }

    .page1 > .container{
        padding: 15px 8%;
    }
}

@media (max-width:1301px) {
    .container{
        padding: 15px 13%;
    }
    .start-timer-card{
        width: 20%;
    }
    .page1 > .container{
        flex-direction: column;
        padding: 15px 7%;
        align-items: center;
    }
    .page1-img{
        flex: 1 1 600px;
        width: 600px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .rectangles > .container{
        padding: 15px 9%;
    }
    .rectangle-self{
        flex-direction: column;
    }
    
    .header2 + span{
        width: 40%;
    }
    .rectangle-item{
        min-height: 500px;

    }
    .rec-obj{
        flex: 0 0 auto;
        object-fit: cover;
    }
    .rec-obj img{
        object-fit: contain;
        }
    .rec-obj:nth-child(0) {
        flex: 0 0 100%;
    }
    .rec-obj:nth-child(1) {
flex: 0 0 75%;
    }
    .rec-obj:nth-child(2) {
flex: 0 0 50%;
    }
    .rec-obj:nth-child(3) {
flex: 0 0 25%;
    }
    .rec-text{
        flex: 1 0 auto;
        font-size: 22px;
        line-height: 1.4;
    }

}

@media (max-width:1151px) {
    .container{
        padding: 15px 10.5%
    }
}

@media (max-width:1001px) {
    .container{
        padding: 15px 60px;
    }
}

@media (max-width:1001px) {
    .container{
        padding: 15px 40px;
    }
    .header2 + span{
        width: 70%;
    }

    .start-timer{
        margin-top: 20%;
    }
}

@media (max-width:801px) {
    .container{
        padding: 15px;
        font-size: 18px;
    }
.start-footer > a{
    display: none;
}
    .rec_row{
        flex-direction: column;
    }

    .rectangle-item{
        width: 100%;
        min-height: 300px;
    }

    .get_job > .container{
        flex-direction: column;
    }

    .job_item{
        margin: 20px 0;
    }
    .job_img{
        margin: 20px 0;
    }
}

@media (max-width:630px) {
    .page1-img{

        flex: 1 1 400px;
        width: 400px;
    }
.start-footer-progress{
    display: none;
}

.start-footer > a{
    display: inline-block;
    width: 90%;
    margin: 0 auto;
}
    .start-timer{
        width: 100%;
        justify-content: space-between;
    }
    .start-timer-card{
        flex: 0 0 23%;
        margin-right: 0;
    }
    .header2 + span{
        width: 100%;
    }
}


@media (max-width:430px) {
    .page1-img{

        flex: 1 1 300px;
        width: 300px;
    }
}